@model TicketMachine.Interfaces.EventSettings
@{
    ViewBag.Title = "Add";
}
<div class="row jumbotron">
    <div class="col-md-6 col-md-offset-4">

        <form method="POST" action="@Url.Action(MVC.Home.Added())" role="form">

            <div class="form-group">
                <label for="eventName">Name</label>
                <input type="text" class="form-control" name="eventName" placeholder="Enter event name" required value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="eventDescription">Description</label>
                <textarea class="form-control" rows="3" name="eventDescription" placeholder="Enter event description">@Model.Description</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>

        </form>


    </div>
</div>
