@model TicketMachine.Interfaces.EventInfo

@{
    ViewBag.Title = Model.Name;
}

<div class="well">
    <h2>@Model.Name</h2>
    <div>@Model.Description</div>
</div>

<div class="jumbotron">
    <h3>Register</h3>
</div>