
@model TicketMachine.Interfaces.EventInfo[]
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   @foreach (var eventInfo in Model)
   {
       <div>
           <div>@eventInfo.Id</div>
           <div>@eventInfo.Name</div>
       </div>
   }
</div>
