
@model TicketMachine.Interfaces.EventInfo[]
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    

    @foreach (var eventInfo in Model)
    {
        <a href="@Url.Action(MVC.Home.Event(eventInfo.Id))">
            <div class="well">
                <h2>@eventInfo.Name</h2>
                <div>@eventInfo.Description</div>
            </div>
        </a>
    }
</div>
